<html lang="zh-cmn-Hans" class="ua-mac ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_759a2wzhy8aoi0j" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_ve36zh4caq9dl15" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>速度与激情8 短评</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="速度与激情8,The Fate of the Furious,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="速度与激情8短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26260853/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/420c6a4b676c73bc6af48dfcdd18b662f5c223d7/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/10c9876f2fa3fc9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://www.douban.com/accounts/" class="bn-more">
        <span>power的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/accounts/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=BGzF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder" style="margin-right: 5px;">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  <span class="num"><span>2</span><i></i></span></div>

    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;165065776&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;165065776&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;165065776&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;165065776&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;165065776&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;165065776&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;165065776&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;165065776&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;165065776&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "165065776",
    UPLOAD_AUTH_TOKEN: "165065776:752ec3fc0d4cc69037a1f4807568e83c287b168e",
    SSE_TOKEN: "6ac17618d9e07d52f2c379247d1fa926da15d0f2",
    SSE_TIMESTAMP: "1522992205",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2017?source=navigation">2017年度榜单</a>
    </li>
    <li><a href="https://movie.douban.com/standbyme/2017?source=navigation">2017观影报告</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>速度与激情8 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(69512)</span>
            </li>

            <li>
                <a href="?status=F">想看(2412)</a>
            </li>
    </ul>
    <div class="fright">
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26260853">我来写短评</a>
    </div>
</div>

    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">52%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">35%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">13%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">







    
        
        <div class="comment-item" data-cid="1177863927">
            
    
        <div class="avatar">
            <a title="红包御用铲屎官" href="https://www.douban.com/people/129967050/">
                <img src="https://img3.doubanio.com/icon/u129967050-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1177863927" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/129967050/" class="">红包御用铲屎官</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 17:09:30">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 我还预测这次怎么也得来个航母吧，结果直接来了个核弹，对杰森斯坦森彻底路转粉，两个小黑依然在，承包了所有的笑点，另外这个骚娘们够狠了，第九集是免不了了。嗯，拯救地球，维护世界和平就靠你们几个了……车瀑布还是很酷的。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1197799246">
            
    
        <div class="avatar">
            <a title="浮影人生" href="https://www.douban.com/people/2946082/">
                <img src="https://img3.doubanio.com/icon/u2946082-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1197799246" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/2946082/" class="">浮影人生</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-06-03 01:06:53">
                    2017-06-03
                </span>
            </span>
        </h3>
        <p class=""> 影片情节过于冗长，足足136分钟却主次不分，一些无聊的插科打诨充斥其间浪费了本来十分珍贵的片长。导演野心很大，试图在一部影片中让这群英雄海陆空都玩一遍，表面上看似乎做到了，但却又时时捉襟见肘。团队全体护体技能满点，海陆空这顿折腾却个个毫发无损。感情戏乏味而做作。僵尸汽车是最大看点。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177895121">
            
    
        <div class="avatar">
            <a title="有寂" href="https://www.douban.com/people/chesbasten/">
                <img src="https://img3.doubanio.com/icon/u2791615-53.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1177895121" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/chesbasten/" class="">有寂</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 18:48:40">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 俄罗斯人真惨
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1180933578">
            
    
        <div class="avatar">
            <a title="Miffygaga" href="https://www.douban.com/people/gucci122/">
                <img src="https://img1.doubanio.com/icon/u1433899-509.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1180933578" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/gucci122/" class="">Miffygaga</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-22 13:07:02">
                    2017-04-22
                </span>
            </span>
        </h3>
        <p class=""> 最后一秒一定能扳对开关，主角光环一定能满血复活，新欢旧爱一定能死掉一个，好人战胜坏人，硬汉重视家庭，这都是定律。整个剧满满的套路。（摊手
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178002741">
            
    
        <div class="avatar">
            <a title="潍舞翩翩" href="https://www.douban.com/people/72712114/">
                <img src="https://img3.doubanio.com/icon/u72712114-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1178002741" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/72712114/" class="">潍舞翩翩</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-14 23:25:58">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 我们有爱扎推的共性，随大流的传统。欧文肖植物人还能动，厉害了！！！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177731933">
            
    
        <div class="avatar">
            <a title="以后没有饺子了" href="https://www.douban.com/people/small6/">
                <img src="https://img1.doubanio.com/icon/u47793868-377.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">13</span>
                <input value="1177731933" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/small6/" class="">以后没有饺子了</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 10:05:34">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> …是不是被神化了？怎么觉得这一部这么难看呢？
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1181327526">
            
    
        <div class="avatar">
            <a title="coto括脫" href="https://www.douban.com/people/coto/">
                <img src="https://img1.doubanio.com/icon/u3278445-67.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1181327526" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/coto/" class="">coto括脫</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-23 10:38:58">
                    2017-04-23
                </span>
            </span>
        </h3>
        <p class=""> 我天郭达太太太可爱了
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177686167">
            
    
        <div class="avatar">
            <a title="魏非" href="https://www.douban.com/people/jay_mi/">
                <img src="https://img3.doubanio.com/icon/u2200249-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">18</span>
                <input value="1177686167" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/jay_mi/" class="">魏非</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 03:17:30">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 下一部建议直接飞出大气层，开宇宙飞船去飙，原本就是一帮飙车的小混混，到第8部感觉比复仇者联盟也不差啥了吧，动作场面的确好看，但是越往后越审美疲劳了，最后核弹出来也不觉得怎样了，建议观看，别带脑子去
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178456124">
            
    
        <div class="avatar">
            <a title="Favillae" href="https://www.douban.com/people/williampitt/">
                <img src="https://img1.doubanio.com/icon/u14356307-209.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1178456124" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/williampitt/" class="">Favillae</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 01:54:44">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 小东木没看头啊，还不如锤弟在敢死队里醒目，塞隆姐姐+范大哥=强攻强受，海伦阿姨与小布莱恩联手贡献笑点，结尾又拿保罗沃克煽了一把，满目肌肉猛男没帅哥略难受==
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178005030">
            
    
        <div class="avatar">
            <a title="何婊砸" href="https://www.douban.com/people/RockerHo/">
                <img src="https://img3.doubanio.com/icon/u35346929-91.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1178005030" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/RockerHo/" class="">何婊砸</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-14 23:30:46">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> Scott Eastwood好帅！！！忽然发现他长得好像Chris Evans。依旧赛车嘻哈风，僵尸车群大乱斗好壮观，豪车狂砸砸砸。塞隆女王酷爆了！Michelle Rodriguez和Nathalie Emmanuel两大酷妹美得直把我掰弯。Kristofer Hivju的反派霸气有型。Shaw一家三口好有趣！撸哥居然回来客串了好惊喜！最后突然戳泪点TVT。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1199700618">
            
    
        <div class="avatar">
            <a title="♫LiNg™" href="https://www.douban.com/people/caprice_vvn/">
                <img src="https://img3.doubanio.com/icon/u2882400-283.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1199700618" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/caprice_vvn/" class="">♫LiNg™</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-06-07 17:25:25">
                    2017-06-07
                </span>
            </span>
        </h3>
        <p class=""> 还行吧，越来越套路，越来越无聊。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1212945545">
            
    
        <div class="avatar">
            <a title="木偶" href="https://www.douban.com/people/1333942/">
                <img src="https://img3.doubanio.com/icon/u1333942-42.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1212945545" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/1333942/" class="">木偶</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-07-09 14:22:30">
                    2017-07-09
                </span>
            </span>
        </h3>
        <p class=""> 这部电影和抗日神剧在本质上是没有任何区别的。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1181067784">
            
    
        <div class="avatar">
            <a title="卖萌耍贱女汉子" href="https://www.douban.com/people/153539449/">
                <img src="https://img3.doubanio.com/icon/u153539449-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">22</span>
                <input value="1181067784" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/153539449/" class="">卖萌耍贱女汉子</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-22 19:28:02">
                    2017-04-22
                </span>
            </span>
        </h3>
        <p class=""> 不是系列迷。没有情怀，整体老套，英雄拯救世界，飞车特技不错，这次潜艇如果有速9估计要炸航母，有速10该炸卫星或者空间站了
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1195220588">
            
    
        <div class="avatar">
            <a title="Renaissancecsm" href="https://www.douban.com/people/119232316/">
                <img src="https://img1.doubanio.com/icon/u119232316-7.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">19</span>
                <input value="1195220588" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/119232316/" class="">Renaissancecsm</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-05-27 22:12:21">
                    2017-05-27
                </span>
            </span>
        </h3>
        <p class=""> 算是爆米花电影的正确打开方式。杰森斯坦森真是萌萌哒
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1192598347">
            
    
        <div class="avatar">
            <a title="飞客流依" href="https://www.douban.com/people/fikirui/">
                <img src="https://img1.doubanio.com/icon/u3500302-48.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1192598347" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fikirui/" class="">飞客流依</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-05-20 23:21:38">
                    2017-05-20
                </span>
            </span>
        </h3>
        <p class=""> 韩和吉赛尔的棺材板都按不住了
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178807066">
            
    
        <div class="avatar">
            <a title="Mr. Infamous" href="https://www.douban.com/people/misterinfamous/">
                <img src="https://img3.doubanio.com/icon/u49948621-34.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1178807066" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/misterinfamous/" class="">Mr. Infamous</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-16 22:16:26">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 帅到炸，每次都想还能有什么新高度，结果总能见到更狂野的版图。那一家子在电影中的分工一向明确，反转梗用得明显，却也算交了功课。塞隆和米伦很抢眼。洗白郭达虽好看，但不知怎么向韩夫妇交代。而炮灰二房的使命就是让还没空生娃的正房名正言顺获得个宝，而且没人为埃琳娜念一句呢，略……悲催。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1182093533">
            
    
        <div class="avatar">
            <a title="乔小囧" href="https://www.douban.com/people/ourorz/">
                <img src="https://img1.doubanio.com/icon/u2644699-9.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1182093533" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/ourorz/" class="">乔小囧</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-25 00:19:55">
                    2017-04-25
                </span>
            </span>
        </h3>
        <p class=""> 干飞机干潜艇干导弹，再这么干下去就连复仇者联盟也干不过这几个光头了。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1317427815">
            
    
        <div class="avatar">
            <a title="sosovipp" href="https://www.douban.com/people/sosovipp/">
                <img src="https://img3.doubanio.com/icon/u53968282-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1317427815" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/sosovipp/" class="">sosovipp</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2018-02-02 23:19:16">
                    2018-02-02
                </span>
            </span>
        </h3>
        <p class=""> 一如既往的劲爆。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178022098">
            
    
        <div class="avatar">
            <a title="直胖" href="https://www.douban.com/people/chauyik/">
                <img src="https://img3.doubanio.com/icon/u2406937-632.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1178022098" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/chauyik/" class="">直胖</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-15 00:06:38">
                    2017-04-15
                </span>
            </span>
        </h3>
        <p class=""> 没上一部好看，但我对这个系列也有激情了哈哈
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1180718533">
            
    
        <div class="avatar">
            <a title=":D" href="https://www.douban.com/people/mekrey/">
                <img src="https://img3.doubanio.com/icon/u3979240-246.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1180718533" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/mekrey/" class="">:D</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-04-21 21:21:32">
                    2017-04-21
                </span>
            </span>
        </h3>
        <p class=""> 什么屌癌电影操你妈 为了一个小孩女朋友都不要了 操你妈  
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=159&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=180&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>




<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/55b64317192d6f00c03c9ff3e397fe02bfa4437b/css/report_dialog.css">


</div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26260853/">去 速度与激情8 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26260853/"><img alt="速度与激情8 The Fate of the Furious" title="速度与激情8 The Fate of the Furious" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2444256500.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1009396/">F·加里·格雷</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1041020/">范·迪塞尔</a> / <a href="https://movie.douban.com/celebrity/1044707/">道恩·强森</a> / <a href="https://movie.douban.com/celebrity/1018991/">查理兹·塞隆</a> / <a href="https://movie.douban.com/celebrity/1049484/">杰森·斯坦森</a> / <a href="https://movie.douban.com/celebrity/1025174/">米歇尔·罗德里格兹</a> / <a href="https://movie.douban.com/celebrity/1010486/">泰瑞斯·吉布森</a> / <a href="https://movie.douban.com/celebrity/1049714/">卢达克里斯</a> / <a href="https://movie.douban.com/celebrity/1031814/">库尔特·拉塞尔</a> / <a href="https://movie.douban.com/celebrity/1328248/">娜塔莉·伊曼纽尔</a> / <a href="https://movie.douban.com/celebrity/1276136/">卢克·伊万斯</a> / <a href="https://movie.douban.com/celebrity/1010610/">埃尔莎·帕塔奇</a> / <a href="https://movie.douban.com/celebrity/1330897/">克里斯托弗·海维尤</a> / <a href="https://movie.douban.com/celebrity/1000188/">斯科特·伊斯特伍德</a> / <a href="https://movie.douban.com/celebrity/1336036/">帕特里克·圣埃斯普利特</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                动作, 犯罪
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                美国
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                136分钟, 149分钟(加长版)
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2017-04-12(法国), 2017-04-14(美国), 2017-04-14(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="213551" href="https://movie.douban.com/trailer/213551/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/3a2e0df4691d0016.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '165065776',
            browserId = 'Y0HURAeydbU',
            criteria = '3:/subject/26260853/comments?status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- sindar12b-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 362.406px;"><ul></ul></div></body></html>