<html lang="zh-cmn-Hans" class="ua-mac ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_759a2wzhy8aoi0j" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_ve36zh4caq9dl15" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>速度与激情8 短评</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="速度与激情8,The Fate of the Furious,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="速度与激情8短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26260853/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/420c6a4b676c73bc6af48dfcdd18b662f5c223d7/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/10c9876f2fa3fc9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://www.douban.com/accounts/" class="bn-more">
        <span>power的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/accounts/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=BGzF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder" style="margin-right: 5px;">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  <span class="num"><span>2</span><i></i></span></div>

    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;165065776&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;165065776&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;165065776&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;165065776&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;165065776&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;165065776&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;165065776&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;165065776&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;165065776&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "165065776",
    UPLOAD_AUTH_TOKEN: "165065776:752ec3fc0d4cc69037a1f4807568e83c287b168e",
    SSE_TOKEN: "6ac17618d9e07d52f2c379247d1fa926da15d0f2",
    SSE_TIMESTAMP: "1522992205",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2017?source=navigation">2017年度榜单</a>
    </li>
    <li><a href="https://movie.douban.com/standbyme/2017?source=navigation">2017观影报告</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>速度与激情8 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(69512)</span>
            </li>

            <li>
                <a href="?status=F">想看(2412)</a>
            </li>
    </ul>
    <div class="fright">
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26260853">我来写短评</a>
    </div>
</div>

    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">52%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">35%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">13%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">







    
        
        <div class="comment-item" data-cid="1177140153">
            
    
        <div class="avatar">
            <a title="同志亦凡人中文站" href="https://www.douban.com/people/3540441/">
                <img src="https://img3.doubanio.com/icon/u3540441-63.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">517</span>
                <input value="1177140153" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/3540441/" class="">同志亦凡人中文站</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-12 17:11:50">
                    2017-04-12
                </span>
            </span>
        </h3>
        <p class=""> 娱乐性太强就显得故事弱鸡了。我塞隆女王真是美炸了，坏得不行，但真是美炸了。结尾那个名字出来的时候又有点泪目...
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177010312">
            
    
        <div class="avatar">
            <a title="电影那件小事" href="https://www.douban.com/people/dynjxs/">
                <img src="https://img3.doubanio.com/icon/u155774776-3.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">538</span>
                <input value="1177010312" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/dynjxs/" class="">电影那件小事</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-12 10:14:58">
                    2017-04-12
                </span>
            </span>
        </h3>
        <p class=""> 速激系列在第七部顺势完结是最好的选择（因为后面的必将黔驴技穷陷入尴尬境地），飙潜艇也并不比飙汽车更令人热血沸腾，让人激动的是速激系列所展示的团队凝聚力及家人之间的感情，而非越飙越大的交通工具
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177776503">
            
    
        <div class="avatar">
            <a title="余小岛" href="https://www.douban.com/people/missixyujun/">
                <img src="https://img3.doubanio.com/icon/u55323010-41.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">477</span>
                <input value="1177776503" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/missixyujun/" class="">余小岛</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-04-14 12:34:30">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 这已经不是飙车电影了吧，都快赶上科幻片了。。。天眼这么牛逼，核潜艇这么牛逼。。当然最牛逼的还是车，连热追踪导弹都出马了，还炸不死一辆车。。。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1176912893">
            
    
        <div class="avatar">
            <a title="黄挂锄" href="https://www.douban.com/people/guachu/">
                <img src="https://img3.doubanio.com/icon/u2326976-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">405</span>
                <input value="1176912893" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/guachu/" class="">黄挂锄</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-11 23:37:33">
                    2017-04-11
                </span>
            </span>
        </h3>
        <p class=""> 震惊！反人类蛇蝎美女和反物理光头硬汉相斗，郭达或成最大赢家！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1175527855">
            
    
        <div class="avatar">
            <a title="李阿斗" href="https://www.douban.com/people/gailsylee/">
                <img src="https://img3.doubanio.com/icon/u43704692-94.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">355</span>
                <input value="1175527855" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/gailsylee/" class="">李阿斗</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-13 03:30:59">
                    2017-04-13
                </span>
            </span>
        </h3>
        <p class=""> 这种family简直不能羡慕更多，做大哥的女人甚至不用体会生孩子的痛苦，直接“从天而降”一个萌到流泪的儿子。广泛播种就是好啊，meet the most important person in my universe, little Brain. 孩子妈安息吧口可口可。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177002443">
            
    
        <div class="avatar">
            <a title="毛球炸弹" href="https://www.douban.com/people/maomao19901108/">
                <img src="https://img1.doubanio.com/icon/u62345857-17.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">329</span>
                <input value="1177002443" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/maomao19901108/" class="">毛球炸弹</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-12 09:46:52">
                    2017-04-12
                </span>
            </span>
        </h3>
        <p class=""> 我是对范迪塞尔审美疲劳了，他真的是永远跳不出这种人设了
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177519143">
            
    
        <div class="avatar">
            <a title="荔枝超人" href="https://www.douban.com/people/richer725/">
                <img src="https://img3.doubanio.com/icon/u1114759-42.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">262</span>
                <input value="1177519143" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/richer725/" class="">荔枝超人</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-13 18:10:51">
                    2017-04-13
                </span>
            </span>
        </h3>
        <p class=""> 花费巨大的家和万事兴宣传片。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178431040">
            
    
        <div class="avatar">
            <a title="扭腰客" href="https://www.douban.com/people/mlsslm777/">
                <img src="https://img3.doubanio.com/icon/u2603819-295.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">241</span>
                <input value="1178431040" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/mlsslm777/" class="">扭腰客</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 00:33:41">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 逼神迪塞尔飙车俩小时，不敌郭达嘴炮五分钟。还有，上哪儿都能找到天台BBQ，果然和TVB是一个套路，“一家人，就是要齐齐整整”。以及，海伦·米伦也太像蔡明了吧，果然只有“蔡明”才能整得了“郭达”。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178802923">
            
    
        <div class="avatar">
            <a title="艾晨" href="https://www.douban.com/people/satan163/">
                <img src="https://img3.doubanio.com/icon/u1140816-93.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">175</span>
                <input value="1178802923" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/satan163/" class="">艾晨</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-16 22:08:53">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 亲儿子才叫family，好兄弟都是rubbish。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1167165964">
            
    
        <div class="avatar">
            <a title="Mona Lishark" href="https://www.douban.com/people/run11run/">
                <img src="https://img1.doubanio.com/icon/u1998052-277.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">128</span>
                <input value="1167165964" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/run11run/" class="">Mona Lishark</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-03-20 15:26:48">
                    2017-03-20
                </span>
            </span>
        </h3>
        <p class=""> 一星给斯坦森＋强森。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178443220">
            
    
        <div class="avatar">
            <a title="李小丢" href="https://www.douban.com/people/Luna-cat/">
                <img src="https://img1.doubanio.com/icon/u2831387-149.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">83</span>
                <input value="1178443220" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Luna-cat/" class="">李小丢</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-16 01:06:33">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 郭达斯坦森真的非常适合喜剧路线啊，本片最亮眼没有之一，想想那部《女间谍》2333，最有化学反应的CP也非郭达和巨石强森莫属哈哈哈哈哈哈哈。要是没有他俩这部片最多也就两分了，多姆特别适合去演TVB啊，一家人就是要齐齐整整，你饿不饿啊，我天台BBQ给你吃啊……
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1175706457">
            
    
        <div class="avatar">
            <a title="幻觉的黎明" href="https://www.douban.com/people/55405881/">
                <img src="https://img3.doubanio.com/icon/u55405881-6.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">324</span>
                <input value="1175706457" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/55405881/" class="">幻觉的黎明</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-09 10:36:08">
                    2017-04-09
                </span>
            </span>
        </h3>
        <p class=""> 内地票房25亿起步！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177890071">
            
    
        <div class="avatar">
            <a title="风间隼" href="https://www.douban.com/people/fengjiansun/">
                <img src="https://img3.doubanio.com/icon/u2521825-70.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">81</span>
                <input value="1177890071" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fengjiansun/" class="">风间隼</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-14 18:30:55">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 故事还是商业片的老一套，看头知尾。让我惊讶的是，这个系列拍到第八集，场面上居然还能推陈出新。纽约僵尸车阵和最后冰河上汽车大战潜艇两段都是别开生面的好创意，加上商业大片的执行力，相当可观。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177122438">
            
    
        <div class="avatar">
            <a title="索克萨尔" href="https://www.douban.com/people/150874390/">
                <img src="https://img3.doubanio.com/icon/u150874390-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">173</span>
                <input value="1177122438" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/150874390/" class="">索克萨尔</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-12 16:20:36">
                    2017-04-12
                </span>
            </span>
        </h3>
        <p class=""> 郑重提醒各位豆友，素鸡8 这三个字不适合念出来。说激不说8，文明你我他。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177147268">
            
    
        <div class="avatar">
            <a title="汽车大师" href="https://www.douban.com/people/cantona_x/">
                <img src="https://img3.doubanio.com/icon/u1064115-83.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">79</span>
                <input value="1177147268" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/cantona_x/" class="">汽车大师</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-12 17:34:28">
                    2017-04-12
                </span>
            </span>
        </h3>
        <p class=""> 这个系列的真谛在于只要没干掉自家人都有机会洗心革面做好人
                
                <a class="source-icon" href="https://www.douban.com/doubanapp/" target="_blank"><img src="https://img3.doubanio.com/f/shire/22e2e68586eef229d8439963d6748a56ba1e4b33/pics/comment/wap.png" title="发自WAP" alt="WAP" rel="v:image"></a>
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178018270">
            
    
        <div class="avatar">
            <a title="金敏丧" href="https://www.douban.com/people/76153086/">
                <img src="https://img1.doubanio.com/icon/u76153086-87.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">173</span>
                <input value="1178018270" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/76153086/" class="">金敏丧</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-04-14 23:57:58">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 我以为我会被这群老司机带上车感受速度与激情，谁知道只是去影院体验了下速8酒店的睡眠环境。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177678872">
            
    
        <div class="avatar">
            <a title="南悠一" href="https://www.douban.com/people/Allan.Vr/">
                <img src="https://img3.doubanio.com/icon/u3739650-26.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">121</span>
                <input value="1177678872" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Allan.Vr/" class="">南悠一</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 02:13:12">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 这个系列之所以在中国这么火就是因为它传达了一种精神：富强、民主、文明、和谐，自由、平等、公正、法治，爱国、敬业、诚信、友善。（不是玩笑）
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1167180705">
            
    
        <div class="avatar">
            <a title="芥末蘸酱" href="https://www.douban.com/people/FrankWasabi/">
                <img src="https://img1.doubanio.com/icon/u4480774-368.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">163</span>
                <input value="1167180705" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/FrankWasabi/" class="">芥末蘸酱</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-03-20 16:01:43">
                    2017-03-20
                </span>
            </span>
        </h3>
        <p class=""> 最喜欢僵尸车那一段，最近三集中最有想象力的桥段。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177812349">
            
    
        <div class="avatar">
            <a title="大奇特(Grinch)" href="https://www.douban.com/people/grinch/">
                <img src="https://img3.doubanio.com/icon/u1074463-104.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">80</span>
                <input value="1177812349" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/grinch/" class="">大奇特(Grinch)</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-14 14:20:54">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 该系列拍到第八集始终遵循那套公式：（电脑特效x真实特技）+（新角色x人物关系)+（动作点缀x类型切换）=解决思路是“要更多汽车”，解决方法是“不怕愚蠢，只让你爽到”。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177727700">
            
    
        <div class="avatar">
            <a title="搬砖侠" href="https://www.douban.com/people/zhangfan187/">
                <img src="https://img1.doubanio.com/icon/u59626068-19.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">163</span>
                <input value="1177727700" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/zhangfan187/" class="">搬砖侠</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-14 09:49:51">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 这大概是强行续命的下场，以为靠着接连不断声势浩大的动作场面便能够吸引观众的注意力，但在剧本和情节上却几乎一无是处，编剧不求有功，但求满足观众的所有情结，不管反派杀了多少小伙伴，只要不是自己家人，编剧说洗白就洗白，你还能怎么样，看完感觉非常视觉疲劳，却什么都不记得了，完美诠释爆米花
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=19&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=40&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>




<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/55b64317192d6f00c03c9ff3e397fe02bfa4437b/css/report_dialog.css">


</div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26260853/">去 速度与激情8 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26260853/"><img alt="速度与激情8 The Fate of the Furious" title="速度与激情8 The Fate of the Furious" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2444256500.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1009396/">F·加里·格雷</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1041020/">范·迪塞尔</a> / <a href="https://movie.douban.com/celebrity/1044707/">道恩·强森</a> / <a href="https://movie.douban.com/celebrity/1018991/">查理兹·塞隆</a> / <a href="https://movie.douban.com/celebrity/1049484/">杰森·斯坦森</a> / <a href="https://movie.douban.com/celebrity/1025174/">米歇尔·罗德里格兹</a> / <a href="https://movie.douban.com/celebrity/1010486/">泰瑞斯·吉布森</a> / <a href="https://movie.douban.com/celebrity/1049714/">卢达克里斯</a> / <a href="https://movie.douban.com/celebrity/1031814/">库尔特·拉塞尔</a> / <a href="https://movie.douban.com/celebrity/1328248/">娜塔莉·伊曼纽尔</a> / <a href="https://movie.douban.com/celebrity/1276136/">卢克·伊万斯</a> / <a href="https://movie.douban.com/celebrity/1010610/">埃尔莎·帕塔奇</a> / <a href="https://movie.douban.com/celebrity/1330897/">克里斯托弗·海维尤</a> / <a href="https://movie.douban.com/celebrity/1000188/">斯科特·伊斯特伍德</a> / <a href="https://movie.douban.com/celebrity/1336036/">帕特里克·圣埃斯普利特</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                动作, 犯罪
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                美国
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                136分钟, 149分钟(加长版)
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2017-04-12(法国), 2017-04-14(美国), 2017-04-14(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="213551" href="https://movie.douban.com/trailer/213551/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/3a2e0df4691d0016.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '165065776',
            browserId = 'Y0HURAeydbU',
            criteria = '3:/subject/26260853/comments?status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- sindar12b-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 211.906px;"><ul></ul></div></body></html>