<html lang="zh-cmn-Hans" class="ua-mac ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_759a2wzhy8aoi0j" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_ve36zh4caq9dl15" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>速度与激情8 短评</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="速度与激情8,The Fate of the Furious,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="速度与激情8短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26260853/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/420c6a4b676c73bc6af48dfcdd18b662f5c223d7/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/10c9876f2fa3fc9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://www.douban.com/accounts/" class="bn-more">
        <span>power的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/accounts/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=BGzF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder" style="margin-right: 5px;">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  <span class="num"><span>2</span><i></i></span></div>

    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;165065776&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;165065776&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;165065776&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;165065776&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;165065776&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;165065776&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;165065776&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;165065776&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;165065776&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "165065776",
    UPLOAD_AUTH_TOKEN: "165065776:752ec3fc0d4cc69037a1f4807568e83c287b168e",
    SSE_TOKEN: "6ac17618d9e07d52f2c379247d1fa926da15d0f2",
    SSE_TIMESTAMP: "1522992205",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2017?source=navigation">2017年度榜单</a>
    </li>
    <li><a href="https://movie.douban.com/standbyme/2017?source=navigation">2017观影报告</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>速度与激情8 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(69512)</span>
            </li>

            <li>
                <a href="?status=F">想看(2412)</a>
            </li>
    </ul>
    <div class="fright">
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26260853">我来写短评</a>
    </div>
</div>

    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">52%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">35%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">13%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">







    
        
        <div class="comment-item" data-cid="1177950366">
            
    
        <div class="avatar">
            <a title="Paco" href="https://www.douban.com/people/69290051/">
                <img src="https://img3.doubanio.com/icon/u69290051-126.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">32</span>
                <input value="1177950366" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/69290051/" class="">Paco</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-04-14 21:34:33">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 细想一下，现在的素鸡系列不就是美版跑男嘛，撕归撕，we are 伐木累
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177226232">
            
    
        <div class="avatar">
            <a title="kakakarl" href="https://www.douban.com/people/zhanyakui/">
                <img src="https://img1.doubanio.com/icon/u57273476-18.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">107</span>
                <input value="1177226232" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/zhanyakui/" class="">kakakarl</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-12 21:48:23">
                    2017-04-12
                </span>
            </span>
        </h3>
        <p class=""> 情怀不够小孩凑。
开场十分钟内，路人说，impossible。这就是对全片的评价。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178244855">
            
    
        <div class="avatar">
            <a title="\t^h/" href="https://www.douban.com/people/terry_f/">
                <img src="https://img1.doubanio.com/icon/u2520407-279.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">42</span>
                <input value="1178244855" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/terry_f/" class="">\t^h/</a>
                    <span>看过</span>
                <span class="comment-time " title="2017-04-15 17:34:09">
                    2017-04-15
                </span>
            </span>
        </h3>
        <p class=""> 谁来专注拍一部Helen Mirren演秃子他妈妈的喜剧
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178874907">
            
    
        <div class="avatar">
            <a title="亵渎电影" href="https://www.douban.com/people/zhangzongqian/">
                <img src="https://img3.doubanio.com/icon/u3995080-211.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">45</span>
                <input value="1178874907" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/zhangzongqian/" class="">亵渎电影</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-17 00:22:40">
                    2017-04-17
                </span>
            </span>
        </h3>
        <p class=""> 烧钱烧的是否有想象力，能否创造前所未见的视觉奇观，决定了这个系列的片子是否够硬。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1164621419">
            
    
        <div class="avatar">
            <a title="人无外财不富" href="https://www.douban.com/people/62651248/">
                <img src="https://img3.doubanio.com/icon/u62651248-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">70</span>
                <input value="1164621419" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/62651248/" class="">人无外财不富</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-12 21:11:37">
                    2017-04-12
                </span>
            </span>
        </h3>
        <p class=""> 除了换飙车工具还能有点别的创意吗？
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="916261287">
            
    
        <div class="avatar">
            <a title="徐若风" href="https://www.douban.com/people/ruo1996/">
                <img src="https://img3.doubanio.com/icon/u52623934-33.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">51</span>
                <input value="916261287" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/ruo1996/" class="">徐若风</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 17:01:23">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 2.5 虽然阵仗越架越大，也做足了老百姓最关心的值回票价，但没了当年5的高水准和7的情怀，8又迅速重回这个系列的审美疲劳。可爱迷人的查理兹·塞隆本来能把片子再往上拉一点，可惜最后还是强行被套路、被智障。真诚希望下集别再浪费时间在玩无脑的帽子戏法或各种洗白，强装高智商只会显得可笑。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177710369">
            
    
        <div class="avatar">
            <a title="布袋里的猫" href="https://www.douban.com/people/Nathaniel/">
                <img src="https://img3.doubanio.com/icon/u2605762-16.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">66</span>
                <input value="1177710369" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Nathaniel/" class="">布袋里的猫</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-04-14 08:36:03">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 速7要不是死了个保罗，中国有几个知道这个系列的？结果没想到速8比速7更烂。中国的电影院永远不缺两种人，一种是跟风狗，一种是脑残粉。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177675464">
            
    
        <div class="avatar">
            <a title="安安" href="https://www.douban.com/people/paranoiaellen/">
                <img src="https://img3.doubanio.com/icon/u13455492-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">96</span>
                <input value="1177675464" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/paranoiaellen/" class="">安安</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 01:48:37">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 强烈要求下一部采用巨石强森或者郭达作为主角！被郭达咣叽迷倒
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177839937">
            
    
        <div class="avatar">
            <a title="文泽尔" href="https://www.douban.com/people/wenzel/">
                <img src="https://img1.doubanio.com/icon/u1781395-109.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">56</span>
                <input value="1177839937" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/wenzel/" class="">文泽尔</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-14 15:51:12">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 开车都能灭核潜艇了 爽片还需要讲什么逻辑 看得开心就好
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1180580327">
            
    
        <div class="avatar">
            <a title="麻绳" href="https://www.douban.com/people/ma-sheng/">
                <img src="https://img3.doubanio.com/icon/u2334378-11.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">23</span>
                <input value="1180580327" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/ma-sheng/" class="">麻绳</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-21 14:33:21">
                    2017-04-21
                </span>
            </span>
        </h3>
        <p class=""> 这个系列从第五部开始就一部不如一部，这一部的情节更是跟屎一样。他们现在的制作逻辑是，只要我们用大场面把观众砸晕，他们是不会介意看了一个狗屎一样的故事的。至少在中国，确实是这样的。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1181265024">
            
    
        <div class="avatar">
            <a title="猫司令" href="https://www.douban.com/people/Queenie.Emika/">
                <img src="https://img3.doubanio.com/icon/u2272123-250.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">33</span>
                <input value="1181265024" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Queenie.Emika/" class="">猫司令</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-04-23 04:09:01">
                    2017-04-23
                </span>
            </span>
        </h3>
        <p class=""> 好烦这种片子，看完脑子嗡嗡的，跟去了迪厅似的。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177840495">
            
    
        <div class="avatar">
            <a title="托尼·王大拿" href="https://www.douban.com/people/Zizou_Vam/">
                <img src="https://img1.doubanio.com/icon/u4403626-327.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">79</span>
                <input value="1177840495" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Zizou_Vam/" class="">托尼·王大拿</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-14 15:53:07">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 贡献了只有这种档次投资的电影里才能看到的简单粗暴但令人咋舌的准奇观性场面，挺唬人的；然后就是累：眼睛累、耳朵累、脑袋累，靠着短时间快速剪辑堆积大量视觉与听觉元素去搅扰思考掩盖贫乏。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178202669">
            
    
        <div class="avatar">
            <a title="熊大茸" href="https://www.douban.com/people/perovskite/">
                <img src="https://img3.doubanio.com/icon/u43400502-55.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">32</span>
                <input value="1178202669" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/perovskite/" class="">熊大茸</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-15 15:31:57">
                    2017-04-15
                </span>
            </span>
        </h3>
        <p class=""> 感觉郭达一定能当个好爸爸(｡･ω･｡)ﾉ♡
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178557011">
            
    
        <div class="avatar">
            <a title="乌鸦火堂" href="https://www.douban.com/people/dreamfox/">
                <img src="https://img3.doubanio.com/icon/u2297669-12.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">23</span>
                <input value="1178557011" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/dreamfox/" class="">乌鸦火堂</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-16 12:07:58">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 三星半，好汉聚义的模式也该到头了，张口闭口famliy就连我这个大粉丝都有些烦了，还好动作场面很给力，越做越大，大银幕非常爽快还是值回票价。从可持续发展角度，希望未来能变个路子，岩石跟郭达俩人玩得了，没有范老大电影其实更好看，全片最燃的一段其实开场古巴，暴力飙车+大妞很带劲
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177459608">
            
    
        <div class="avatar">
            <a title="半个里Re-Kill" href="https://www.douban.com/people/lyricli/">
                <img src="https://img3.doubanio.com/icon/u2281421-72.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">78</span>
                <input value="1177459608" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lyricli/" class="">半个里Re-Kill</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-04-13 14:54:35">
                    2017-04-13
                </span>
            </span>
        </h3>
        <p class=""> 我很喜欢塞隆的造型，好像瑞典性爱教母。能集中精神的镜头就是无数辆车被启动自动驾驶然后从高层停车场坠落，还有就是光头跳水运动员斯坦森跟大眼宝宝的互动。要坦白，因为票价接近30块人民币所以强忍着没退场。电影院里前排座椅很难睡，只好打起精神跟自己喝听装啤酒。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178038483">
            
    
        <div class="avatar">
            <a title="谢谢你们的鱼" href="https://www.douban.com/people/reave/">
                <img src="https://img1.doubanio.com/icon/u1752908-27.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">44</span>
                <input value="1178038483" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/reave/" class="">谢谢你们的鱼</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-15 00:49:51">
                    2017-04-15
                </span>
            </span>
        </h3>
        <p class=""> 比六七都好，但是故事依然看的人很捉急，出色的地方是范迪赛的戏份被道恩和郭达稀释了，塞隆也是够辣，好希望下一部不用再看到范迪赛和罗德里格兹，缺点是高潮戏无一不让人失望，不是紧张感欠奉就是过于冗长，反而是开头的飙车和监狱打斗更好看。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1167234376">
            
    
        <div class="avatar">
            <a title="马 夋" href="https://www.douban.com/people/june.q/">
                <img src="https://img1.doubanio.com/icon/u30395883-29.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">46</span>
                <input value="1167234376" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/june.q/" class="">马 夋</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-03-20 18:44:29">
                    2017-03-20
                </span>
            </span>
        </h3>
        <p class=""> 那段远程操控车，又high又有想象力，也很心疼。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178034427">
            
    
        <div class="avatar">
            <a title="what'swilliam" href="https://www.douban.com/people/52286623/">
                <img src="https://img3.doubanio.com/icon/u52286623-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">44</span>
                <input value="1178034427" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/52286623/" class="">what'swilliam</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-15 00:37:57">
                    2017-04-15
                </span>
            </span>
        </h3>
        <p class=""> 3.9星。1.这片子和“手撕鬼子”难道不是一个路数么？只不过是两亿美金预算的那种。2.反派虽美但弱智，不接受反驳。3.听够了“we are family”这论调。4.郭达好萌。5.僵尸车蛮屌。6.本系列下一部《速度与激情9：变形金刚》。7.听到布莱恩在电影里永远幸福还是蛮感人。8.其实蛮爽，一夜情的那种。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177914691">
            
    
        <div class="avatar">
            <a title="Ana" href="https://www.douban.com/people/53297892/">
                <img src="https://img1.doubanio.com/icon/u53297892-7.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">60</span>
                <input value="1177914691" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/53297892/" class="">Ana</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-14 19:52:53">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 作为这个［根本不需要剧情］［其实也不需要字幕］系列的忠实anti，又不负所望得在电影院收藏了无数白眼，除了严谨保持上世纪无脑特工风外，本次还加入了“说黑就黑”“说洗白就洗白”的旧型套餐，票房30亿预定，毕竟我国的男性崇拜一向那么原始浅薄。
另外再推荐，堪称姐妹篇的，&lt;007之择日而亡&gt;
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1319056489">
            
    
        <div class="avatar">
            <a title="从未知道你最好" href="https://www.douban.com/people/172427040/">
                <img src="https://img3.doubanio.com/icon/u172427040-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">64</span>
                <input value="1319056489" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/172427040/" class="">从未知道你最好</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2018-02-05 18:56:14">
                    2018-02-05
                </span>
            </span>
        </h3>
        <p class=""> 8是我看等我这个系列的第一部，剧情有点扯，不过看的时候还是有点小激动的。这种片子在电影院看还行，我后来在网上搜了其他几部，感觉在网上看就没有那种视觉效果了。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=39&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=60&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>




<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/55b64317192d6f00c03c9ff3e397fe02bfa4437b/css/report_dialog.css">


</div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26260853/">去 速度与激情8 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26260853/"><img alt="速度与激情8 The Fate of the Furious" title="速度与激情8 The Fate of the Furious" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2444256500.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1009396/">F·加里·格雷</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1041020/">范·迪塞尔</a> / <a href="https://movie.douban.com/celebrity/1044707/">道恩·强森</a> / <a href="https://movie.douban.com/celebrity/1018991/">查理兹·塞隆</a> / <a href="https://movie.douban.com/celebrity/1049484/">杰森·斯坦森</a> / <a href="https://movie.douban.com/celebrity/1025174/">米歇尔·罗德里格兹</a> / <a href="https://movie.douban.com/celebrity/1010486/">泰瑞斯·吉布森</a> / <a href="https://movie.douban.com/celebrity/1049714/">卢达克里斯</a> / <a href="https://movie.douban.com/celebrity/1031814/">库尔特·拉塞尔</a> / <a href="https://movie.douban.com/celebrity/1328248/">娜塔莉·伊曼纽尔</a> / <a href="https://movie.douban.com/celebrity/1276136/">卢克·伊万斯</a> / <a href="https://movie.douban.com/celebrity/1010610/">埃尔莎·帕塔奇</a> / <a href="https://movie.douban.com/celebrity/1330897/">克里斯托弗·海维尤</a> / <a href="https://movie.douban.com/celebrity/1000188/">斯科特·伊斯特伍德</a> / <a href="https://movie.douban.com/celebrity/1336036/">帕特里克·圣埃斯普利特</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                动作, 犯罪
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                美国
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                136分钟, 149分钟(加长版)
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2017-04-12(法国), 2017-04-14(美国), 2017-04-14(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="213551" href="https://movie.douban.com/trailer/213551/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/3a2e0df4691d0016.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '165065776',
            browserId = 'Y0HURAeydbU',
            criteria = '3:/subject/26260853/comments?status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- sindar12b-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 211.906px;"><ul></ul></div></body></html>