<html lang="zh-cmn-Hans" class="ua-mac ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_759a2wzhy8aoi0j" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_ve36zh4caq9dl15" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>速度与激情8 短评</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="速度与激情8,The Fate of the Furious,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="速度与激情8短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26260853/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/420c6a4b676c73bc6af48dfcdd18b662f5c223d7/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/10c9876f2fa3fc9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://www.douban.com/accounts/" class="bn-more">
        <span>power的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/accounts/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=BGzF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder" style="margin-right: 5px;">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  <span class="num"><span>2</span><i></i></span></div>

    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;165065776&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;165065776&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;165065776&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;165065776&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;165065776&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;165065776&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;165065776&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;165065776&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;165065776&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "165065776",
    UPLOAD_AUTH_TOKEN: "165065776:752ec3fc0d4cc69037a1f4807568e83c287b168e",
    SSE_TOKEN: "6ac17618d9e07d52f2c379247d1fa926da15d0f2",
    SSE_TIMESTAMP: "1522992205",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2017?source=navigation">2017年度榜单</a>
    </li>
    <li><a href="https://movie.douban.com/standbyme/2017?source=navigation">2017观影报告</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>速度与激情8 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(69512)</span>
            </li>

            <li>
                <a href="?status=F">想看(2412)</a>
            </li>
    </ul>
    <div class="fright">
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26260853">我来写短评</a>
    </div>
</div>

    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">52%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">35%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">13%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">







    
        
        <div class="comment-item" data-cid="1178456304">
            
    
        <div class="avatar">
            <a title="法兰西胶片" href="https://www.douban.com/people/flxjp/">
                <img src="https://img1.doubanio.com/icon/u2316731-67.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1178456304" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/flxjp/" class="">法兰西胶片</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 01:55:29">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 这套系列片最大的拍摄障碍早就不是飙车戏了，而是卫星追踪画面啊，真的是换多少导演都那一个软件做出来的，现场到底请不请键盘敲击指导呢？导演会告诉他们搜出这么多放大画面需要按几次回车键吗？不会，因为他们都不相信这群街头痞子能进电脑控制室。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178166445">
            
    
        <div class="avatar">
            <a title="滕子京" href="https://www.douban.com/people/fengs/">
                <img src="https://img3.doubanio.com/icon/u1650020-33.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1178166445" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fengs/" class="">滕子京</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2017-04-15 13:40:47">
                    2017-04-15
                </span>
            </span>
        </h3>
        <p class=""> 你以为是赛车，是枪战，是肌肉怪，是拳对拳，指针冲破仪表盘、荷尔蒙飚破肾上腺，结果却是两个程序员在键盘上巅峰对决。肌肉亮过了，坐下来打打字拼拼脑力，看什么样的反派，才配做旧反派的上级。只有FF能超越FF的传奇，就像只有速8能超越速7。目前为止，全系列最好的一集
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178758607">
            
    
        <div class="avatar">
            <a title="科林" href="https://www.douban.com/people/Colin_Wang/">
                <img src="https://img3.doubanio.com/icon/u2160141-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1178758607" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Colin_Wang/" class="">科林</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 20:44:05">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 上天下海、异常火爆，连鱼雷都玩出来了…最后冰上车战足有20分钟，看得肾上腺素飙升。该系列原本只是讲飙车的嘻哈小成本片，如今闹得快变碟中谍+007了…全片最好看是僵尸车段落，壮观~（唱唱反调：不过这片依旧严重落入好莱坞爆米花片“为打而打”俗套里、满满的“猜得到接下去会怎样”套路中，疲劳）
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178647884">
            
    
        <div class="avatar">
            <a title="凌晓疯" href="https://www.douban.com/people/53283594/">
                <img src="https://img3.doubanio.com/icon/u53283594-3.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1178647884" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/53283594/" class="">凌晓疯</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 16:14:00">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 速8都只需要主角们防止世界大战了，速9不去打外星人说不过去啊。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1078944606">
            
    
        <div class="avatar">
            <a title="Chain" href="https://www.douban.com/people/chain233/">
                <img src="https://img3.doubanio.com/icon/u2262440-184.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1078944606" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/chain233/" class="">Chain</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2017-04-16 18:01:40">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 突然叛变，突然当爹，反派洗白，情节论外，视觉突破，速度爆表，缺失保罗，基情尚在，没有彩蛋，九十再看。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178473774">
            
    
        <div class="avatar">
            <a title="李大婷" href="https://www.douban.com/people/fuckyeahdelia/">
                <img src="https://img3.doubanio.com/icon/u54363223-246.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1178473774" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fuckyeahdelia/" class="">李大婷</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2017-04-16 04:13:39">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 超级好看！然后 结尾那块感动的我整个人都不好了……
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179565271">
            
    
        <div class="avatar">
            <a title="明安" href="https://www.douban.com/people/61212508/">
                <img src="https://img3.doubanio.com/icon/u61212508-24.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1179565271" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/61212508/" class="">明安</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-18 20:51:27">
                    2017-04-18
                </span>
            </span>
        </h3>
        <p class=""> 根本就是修真片……
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1180299955">
            
    
        <div class="avatar">
            <a title="Hey Johnny" href="https://www.douban.com/people/canny-leon/">
                <img src="https://img3.doubanio.com/icon/u1841712-610.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1180299955" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/canny-leon/" class="">Hey Johnny</a>
                    <span>看过</span>
                <span class="comment-time " title="2017-04-20 19:15:20">
                    2017-04-20
                </span>
            </span>
        </h3>
        <p class=""> 全程花痴杰森斯坦森！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1180374647">
            
    
        <div class="avatar">
            <a title="游牧人·芳汀" href="https://www.douban.com/people/melody1971/">
                <img src="https://img3.doubanio.com/icon/u1917650-835.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1180374647" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/melody1971/" class="">游牧人·芳汀</a>
                    <span>看过</span>
                <span class="comment-time " title="2017-04-20 22:29:05">
                    2017-04-20
                </span>
            </span>
        </h3>
        <p class=""> #电影院# 轰轰轰，呜呜呜，跑跑跑，跳跳跳，炸炸炸，飞飞飞，冲冲冲……唯一心动的时刻是Vin Diesel看着Michelle Rodriguez的英勇飞车表现，骄傲地笑着说“不愧是我的女孩。”搞得我突然好想做大佬的女人嘤嘤嘤嘤
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177683763">
            
    
        <div class="avatar">
            <a title="jacson joe" href="https://www.douban.com/people/76515207/">
                <img src="https://img3.doubanio.com/icon/u76515207-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">21</span>
                <input value="1177683763" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/76515207/" class="">jacson joe</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-14 02:51:17">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 直男癌大爆发，仿佛看了一部超级英雄➕丧尸片，高潮节奏掌握得还可以，但整个片子毫无逻辑，女反派那么大的格局资源，玩这么嗨就为了放几颗核弹告诉全世界“我是坏人”，而且偏偏挑个有老婆孩子的对手作为自己的主力军光明正大地作死是不是脑子有坑。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178435376">
            
    
        <div class="avatar">
            <a title="空城" href="https://www.douban.com/people/oneself1314/">
                <img src="https://img1.doubanio.com/icon/u1238302-99.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">7</span>
                <input value="1178435376" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/oneself1314/" class="">空城</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 00:44:51">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 故事太老套，但节奏很紧凑，场面也不错，作为爆米花电影值得一看。但是，那些带不到十岁孩子去看这电影的家长们不知道是脑子里进了什么。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1184327679">
            
    
        <div class="avatar">
            <a title="共感" href="https://www.douban.com/people/43781354/">
                <img src="https://img3.doubanio.com/icon/u43781354-140.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1184327679" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/43781354/" class="">共感</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-30 16:20:45">
                    2017-04-30
                </span>
            </span>
        </h3>
        <p class=""> 建议剪一个斯坦森和僵尸车的cut 别的没有任何意思还不如看看预告片来得省事省力。。。请问斯坦森和巨石有同人么（闭嘴
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178041935">
            
    
        <div class="avatar">
            <a title="SELVEN" href="https://www.douban.com/people/SELVEN/">
                <img src="https://img3.doubanio.com/icon/u1666383-355.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1178041935" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/SELVEN/" class="">SELVEN</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-15 01:01:02">
                    2017-04-15
                </span>
            </span>
        </h3>
        <p class=""> 64/100 用赛车场面比喻角色的心情，一直是素鸡系列很有特色的地方，比如这部在纽约街头“揪心”的场面。但与此同时越来越公式化的情节设计加上高预算带来的群星阵容，让元老人物边缘化，并使这个系列获得重生的元素逐渐消失。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177723805">
            
    
        <div class="avatar">
            <a title="汪金卫" href="https://www.douban.com/people/longzheking/">
                <img src="https://img1.doubanio.com/icon/u4285566-29.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">16</span>
                <input value="1177723805" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/longzheking/" class="">汪金卫</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-14 09:34:56">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 这个系列的套路化+不思进取越来越严重。甚至好几次都猜中了接下来的镜头和情节。赛车绝对不输，反派也能从良，主角必须不死。再加点插科打诨，齐活！票房必须高！杰森斯坦森就像从《机械师》片场串过来的。追车动作戏也就自动驾驶汽车那段有点意思，其他都是轰隆隆的爆炸咣咣咣的撞车，老生常谈。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177814784">
            
    
        <div class="avatar">
            <a title="wsiwei" href="https://www.douban.com/people/peggywang/">
                <img src="https://img1.doubanio.com/icon/u1022904-67.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1177814784" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/peggywang/" class="">wsiwei</a>
                    <span>看过</span>
                <span class="comment-time " title="2017-04-14 14:29:06">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 呃……just like a blue pill 导演很棒啦
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1181109144">
            
    
        <div class="avatar">
            <a title="爱的镇魂歌" href="https://www.douban.com/people/fenxinyu/">
                <img src="https://img3.doubanio.com/icon/u58910508-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1181109144" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fenxinyu/" class="">爱的镇魂歌</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-22 21:08:25">
                    2017-04-22
                </span>
            </span>
        </h3>
        <p class=""> 街头飙车起家的素鸡系列不知不觉都要打核战了，场面戏脑洞挺大，潜艇居然都能破冰来飙。以后这种破事请找007，求放过那些老司机，他们只是开小车的...。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177678935">
            
    
        <div class="avatar">
            <a title="朱古力" href="https://www.douban.com/people/zhuguli0613/">
                <img src="https://img3.doubanio.com/icon/u1900351-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">9</span>
                <input value="1177678935" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/zhuguli0613/" class="">朱古力</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-14 02:13:37">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 应该可以拍到速25
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179231521">
            
    
        <div class="avatar">
            <a title="鸡头井。" href="https://www.douban.com/people/1172054/">
                <img src="https://img3.doubanio.com/icon/u1172054-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1179231521" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/1172054/" class="">鸡头井。</a>
                    <span>看过</span>
                <span class="comment-time " title="2017-04-17 22:57:19">
                    2017-04-17
                </span>
            </span>
        </h3>
        <p class=""> 这钱砸的
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178896496">
            
    
        <div class="avatar">
            <a title="刘康康" href="https://www.douban.com/people/46843344/">
                <img src="https://img1.doubanio.com/icon/u46843344-18.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1178896496" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/46843344/" class="">刘康康</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-17 01:34:51">
                    2017-04-17
                </span>
            </span>
        </h3>
        <p class=""> 不好不坏的一个爽片，然而也没那么爽。上一部是汽车斗飞机，这部是汽车大战核潜艇，很为下一部导演感到担心，地球上还剩什么能跟主角他们飙车？反派说洗白就洗白，下一部这个黑客女是不是也要加入主角的伐木累了？
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1148094045">
            
    
        <div class="avatar">
            <a title="昵称被占不开心" href="https://www.douban.com/people/94506833/">
                <img src="https://img3.doubanio.com/icon/u94506833-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">23</span>
                <input value="1148094045" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/94506833/" class="">昵称被占不开心</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-14 09:51:16">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 依旧热血 杰森斯坦森好酷
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=119&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=140&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>




<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/55b64317192d6f00c03c9ff3e397fe02bfa4437b/css/report_dialog.css">


</div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26260853/">去 速度与激情8 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26260853/"><img alt="速度与激情8 The Fate of the Furious" title="速度与激情8 The Fate of the Furious" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2444256500.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1009396/">F·加里·格雷</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1041020/">范·迪塞尔</a> / <a href="https://movie.douban.com/celebrity/1044707/">道恩·强森</a> / <a href="https://movie.douban.com/celebrity/1018991/">查理兹·塞隆</a> / <a href="https://movie.douban.com/celebrity/1049484/">杰森·斯坦森</a> / <a href="https://movie.douban.com/celebrity/1025174/">米歇尔·罗德里格兹</a> / <a href="https://movie.douban.com/celebrity/1010486/">泰瑞斯·吉布森</a> / <a href="https://movie.douban.com/celebrity/1049714/">卢达克里斯</a> / <a href="https://movie.douban.com/celebrity/1031814/">库尔特·拉塞尔</a> / <a href="https://movie.douban.com/celebrity/1328248/">娜塔莉·伊曼纽尔</a> / <a href="https://movie.douban.com/celebrity/1276136/">卢克·伊万斯</a> / <a href="https://movie.douban.com/celebrity/1010610/">埃尔莎·帕塔奇</a> / <a href="https://movie.douban.com/celebrity/1330897/">克里斯托弗·海维尤</a> / <a href="https://movie.douban.com/celebrity/1000188/">斯科特·伊斯特伍德</a> / <a href="https://movie.douban.com/celebrity/1336036/">帕特里克·圣埃斯普利特</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                动作, 犯罪
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                美国
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                136分钟, 149分钟(加长版)
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2017-04-12(法国), 2017-04-14(美国), 2017-04-14(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="213551" href="https://movie.douban.com/trailer/213551/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/3a2e0df4691d0016.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '165065776',
            browserId = 'Y0HURAeydbU',
            criteria = '3:/subject/26260853/comments?status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- sindar12b-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 362.406px;"><ul></ul></div></body></html>