<html lang="zh-cmn-Hans" class="ua-mac ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_759a2wzhy8aoi0j" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_ve36zh4caq9dl15" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>速度与激情8 短评</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="速度与激情8,The Fate of the Furious,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="速度与激情8短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26260853/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/420c6a4b676c73bc6af48dfcdd18b662f5c223d7/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/10c9876f2fa3fc9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://www.douban.com/accounts/" class="bn-more">
        <span>power的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/accounts/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=BGzF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder" style="margin-right: 5px;">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  <span class="num"><span>2</span><i></i></span></div>

    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;165065776&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;165065776&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;165065776&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;165065776&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;165065776&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;165065776&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;165065776&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;165065776&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;165065776&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;165065776&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "165065776",
    UPLOAD_AUTH_TOKEN: "165065776:752ec3fc0d4cc69037a1f4807568e83c287b168e",
    SSE_TOKEN: "6ac17618d9e07d52f2c379247d1fa926da15d0f2",
    SSE_TIMESTAMP: "1522992205",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2017?source=navigation">2017年度榜单</a>
    </li>
    <li><a href="https://movie.douban.com/standbyme/2017?source=navigation">2017观影报告</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/19507ad/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>速度与激情8 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(69512)</span>
            </li>

            <li>
                <a href="?status=F">想看(2412)</a>
            </li>
    </ul>
    <div class="fright">
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26260853">我来写短评</a>
    </div>
</div>

    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">52%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">35%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">13%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">







    
        
        <div class="comment-item" data-cid="1250794893">
            
    
        <div class="avatar">
            <a title="榜上有名猫" href="https://www.douban.com/people/fang0079/">
                <img src="https://img3.doubanio.com/icon/u77659294-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1250794893" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fang0079/" class="">榜上有名猫</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-10-03 00:34:54">
                    2017-10-03
                </span>
            </span>
        </h3>
        <p class=""> 前作的反派都洗白了，本作的反派很中二。两大亮点：监狱暴动桥段动作设计很带劲，傀儡汽车的场面有新意。作为爆米花电影，剧情没有突破，但是视觉处理尚可，除了最后潜艇那段凑数结局......
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1192710287">
            
    
        <div class="avatar">
            <a title="江来" href="https://www.douban.com/people/4511323/">
                <img src="https://img3.doubanio.com/icon/u4511323-6.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1192710287" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/4511323/" class="">江来</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-05-21 09:34:55">
                    2017-05-21
                </span>
            </span>
        </h3>
        <p class=""> 电影告诉我们即使自己的老公不告而别也要相信他，即使看到他和别的女人接吻也要相信他！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178499039">
            
    
        <div class="avatar">
            <a title="水草草" href="https://www.douban.com/people/rex33cc/">
                <img src="https://img3.doubanio.com/icon/u3650853-26.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1178499039" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/rex33cc/" class="">水草草</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 08:56:30">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 越来越没有速度只有激情了，太激情了，简直滥情，情何以堪的情。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177850790">
            
    
        <div class="avatar">
            <a title="indicent time" href="https://www.douban.com/people/51061132/">
                <img src="https://img3.doubanio.com/icon/u51061132-46.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1177850790" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/51061132/" class="">indicent time</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-14 16:26:53">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 僵尸车场面高能，阵仗有多大剧情就多无趣。imax爽，3D毫无必要，三条暗线各种强调family，让人想起跑男，最后心疼一下Han和编剧，一个白死，一个还得再胡扯两部以上——天知道这个系列会从小赛车变成007……
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1184424925">
            
    
        <div class="avatar">
            <a title="kana" href="https://www.douban.com/people/xmonkid/">
                <img src="https://img3.doubanio.com/icon/u1881848-133.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1184424925" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/xmonkid/" class="">kana</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-30 20:27:53">
                    2017-04-30
                </span>
            </span>
        </h3>
        <p class=""> 音效不错 4D椅子摇晃到位 baby❤
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179235371">
            
    
        <div class="avatar">
            <a title="非常不小心" href="https://www.douban.com/people/fcbuxiaoxin/">
                <img src="https://img3.doubanio.com/icon/u45456270-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1179235371" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fcbuxiaoxin/" class="">非常不小心</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2017-04-17 23:04:18">
                    2017-04-17
                </span>
            </span>
        </h3>
        <p class=""> 僵尸车那段创爽脑新高了。真是很服气，认真脸，编脑洞，就为你能爽一下，特么一个大烂片楞是能不断推陈出新。不简单的。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178177217">
            
    
        <div class="avatar">
            <a title="Karno" href="https://www.douban.com/people/Dale.Kenny/">
                <img src="https://img3.doubanio.com/icon/u2256841-150.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1178177217" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Dale.Kenny/" class="">Karno</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-05-10 12:41:09">
                    2017-05-10
                </span>
            </span>
        </h3>
        <p class=""> 好像 就不關車啥事了..笑话还是很好笑的；那句brian会知道怎么做 猛戳泪点；don的dodge被几条钢索困住时有点难过..
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1220165298">
            
    
        <div class="avatar">
            <a title="小舞舞" href="https://www.douban.com/people/125559870/">
                <img src="https://img1.doubanio.com/icon/u125559870-8.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1220165298" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/125559870/" class="">小舞舞</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-07-25 22:38:04">
                    2017-07-25
                </span>
            </span>
        </h3>
        <p class=""> 能把动作，飚车，犯罪和友情，亲情，爱情对接的如此合理而精彩的，只有FF这一家，更为难得的是这一系列没有续集扑街的宿命，相反在不同导演的操刀下总能焕发不同的光彩。速八的表现不如5，6，但在如今爆炸疲劳的视觉时代，还能让人不感到乏味，也足以称道了。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292468297">
            
    
        <div class="avatar">
            <a title="BLAKE" href="https://www.douban.com/people/cm1986/">
                <img src="https://img3.doubanio.com/icon/u1429451-22.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1292468297" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/cm1986/" class="">BLAKE</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-12-25 08:55:53">
                    2017-12-25
                </span>
            </span>
        </h3>
        <p class=""> 杰森斯坦森加一星。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1192151230">
            
    
        <div class="avatar">
            <a title="浑浑噩噩" href="https://www.douban.com/people/50210563/">
                <img src="https://img3.doubanio.com/icon/u50210563-6.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1192151230" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/50210563/" class="">浑浑噩噩</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-05-23 22:18:25">
                    2017-05-23
                </span>
            </span>
        </h3>
        <p class=""> 一星给情怀,三星给核潜艇和僵尸车海,至于编剧,真是毫无新意...套路再不更新,,真是玩不下去了
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179768642">
            
    
        <div class="avatar">
            <a title="本初老儿" href="https://www.douban.com/people/alacrity516/">
                <img src="https://img3.doubanio.com/icon/u1349000-51.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1179768642" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/alacrity516/" class="">本初老儿</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-19 11:37:30">
                    2017-04-19
                </span>
            </span>
        </h3>
        <p class=""> 不喜欢塞隆的角色，可能钱没给够，女神居然没有动作戏！尼玛！作为一只反派，真的不合适，更别提那些装腔作势的破台词了！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179892123">
            
    
        <div class="avatar">
            <a title="年逝" href="https://www.douban.com/people/nianshixx/">
                <img src="https://img1.doubanio.com/icon/u1934011-87.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1179892123" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/nianshixx/" class="">年逝</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-19 17:45:45">
                    2017-04-19
                </span>
            </span>
        </h3>
        <p class=""> 汽车僵尸等一些创意还都蛮好的。可我还是看睡着了。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179389964">
            
    
        <div class="avatar">
            <a title="郭襄和杨过" href="https://www.douban.com/people/youyougongzhu/">
                <img src="https://img3.doubanio.com/icon/u3330169-21.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1179389964" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/youyougongzhu/" class="">郭襄和杨过</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-18 11:46:24">
                    2017-04-18
                </span>
            </span>
        </h3>
        <p class=""> 包装精致的垃圾
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179736243">
            
    
        <div class="avatar">
            <a title="饮歌" href="https://www.douban.com/people/35790692/">
                <img src="https://img3.doubanio.com/icon/u35790692-21.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1179736243" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/35790692/" class="">饮歌</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-19 09:59:39">
                    2017-04-19
                </span>
            </span>
        </h3>
        <p class=""> 这个系列拍到这个份上，只剩下无所不用其极的刺激荷尔蒙，以及尽可能多添加大明星了。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1179596630">
            
    
        <div class="avatar">
            <a title="弥赛亚代言人" href="https://www.douban.com/people/51490972/">
                <img src="https://img3.doubanio.com/icon/u51490972-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1179596630" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/51490972/" class="">弥赛亚代言人</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-18 22:07:48">
                    2017-04-18
                </span>
            </span>
        </h3>
        <p class=""> 片子最大的优点就是能真真切切感受到巨额投资都花在哪了，虽然创意不及前几部，好在那些豪车、爆炸、拳拳到肉还是看得人热血沸腾。可惜除此之外，电影就只剩缺陷了——Diesel的叛变与回归都牵强的仿如儿戏，恶意卖萌加卖情怀也让人各种尴尬，最要命的是，好不容易请来的塞隆，居然只负责读个台词啊！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1178815447">
            
    
        <div class="avatar">
            <a title="深夜的阿斯伯格" href="https://www.douban.com/people/35827809/">
                <img src="https://img1.doubanio.com/icon/u35827809-27.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1178815447" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/35827809/" class="">深夜的阿斯伯格</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-16 22:31:20">
                    2017-04-16
                </span>
            </span>
        </h3>
        <p class=""> 就这么让杀死韩和盖尔的肖入伙了，天上掉汽车的场景让我想起了侠盗飞车的作弊码，还以为背叛会于那十秒的飙车激情有关，毕竟不是一个拔高的电影。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1177970201">
            
    
        <div class="avatar">
            <a title="HAHAHAHABATMAN" href="https://www.douban.com/people/81169417/">
                <img src="https://img3.doubanio.com/icon/u81169417-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1177970201" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/81169417/" class="">HAHAHAHABATMAN</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-04-14 22:19:30">
                    2017-04-14
                </span>
            </span>
        </h3>
        <p class=""> 编剧他妈是弱智吗？全片围着和小三的娃展开这种傻逼剧情谁想得出，锤嫂被杀那里真是被恶心到了，配角一个比一个廉价，韩尸骨未寒郭达就进组，跟他妈没发生过一样。好在商业元素属上乘，几场车战创造力不错，塞隆演得骚，否则真的只值一星。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1174073502">
            
    
        <div class="avatar">
            <a title="少年夏不安" href="https://www.douban.com/people/bluejiang/">
                <img src="https://img3.doubanio.com/icon/u1320395-250.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1174073502" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/bluejiang/" class="">少年夏不安</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2017-04-20 22:11:58">
                    2017-04-20
                </span>
            </span>
        </h3>
        <p class=""> 没啥意思。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1180835981">
            
    
        <div class="avatar">
            <a title="汽水|不core不得嗨" href="https://www.douban.com/people/littlelu/">
                <img src="https://img3.doubanio.com/icon/u2246896-23.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">1</span>
                <input value="1180835981" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/littlelu/" class="">汽水|不core不得嗨</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2017-04-22 03:02:40">
                    2017-04-22
                </span>
            </span>
        </h3>
        <p class=""> 所谓的不管评价多烂多无脑，都会去电影院看个imax全程无尿点从头激情到尾～反正diesel在一集追一集咯～所以他真的已经50了？！Unbelievable...塞隆这个眼窝真是太美太美太美了～
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1192848503">
            
    
        <div class="avatar">
            <a title="诸葛福媛" href="https://www.douban.com/people/36523777/">
                <img src="https://img3.doubanio.com/icon/u36523777-15.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1192848503" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/36523777/" class="">诸葛福媛</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-05-21 15:51:18">
                    2017-05-21
                </span>
            </span>
        </h3>
        <p class=""> 再炫酷的场面也无法弥补内核的空洞。这个系列在5的时候就该终结了。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=399&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=420&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>




<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/55b64317192d6f00c03c9ff3e397fe02bfa4437b/css/report_dialog.css">


</div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26260853/">去 速度与激情8 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26260853/"><img alt="速度与激情8 The Fate of the Furious" title="速度与激情8 The Fate of the Furious" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2444256500.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1009396/">F·加里·格雷</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1041020/">范·迪塞尔</a> / <a href="https://movie.douban.com/celebrity/1044707/">道恩·强森</a> / <a href="https://movie.douban.com/celebrity/1018991/">查理兹·塞隆</a> / <a href="https://movie.douban.com/celebrity/1049484/">杰森·斯坦森</a> / <a href="https://movie.douban.com/celebrity/1025174/">米歇尔·罗德里格兹</a> / <a href="https://movie.douban.com/celebrity/1010486/">泰瑞斯·吉布森</a> / <a href="https://movie.douban.com/celebrity/1049714/">卢达克里斯</a> / <a href="https://movie.douban.com/celebrity/1031814/">库尔特·拉塞尔</a> / <a href="https://movie.douban.com/celebrity/1328248/">娜塔莉·伊曼纽尔</a> / <a href="https://movie.douban.com/celebrity/1276136/">卢克·伊万斯</a> / <a href="https://movie.douban.com/celebrity/1010610/">埃尔莎·帕塔奇</a> / <a href="https://movie.douban.com/celebrity/1330897/">克里斯托弗·海维尤</a> / <a href="https://movie.douban.com/celebrity/1000188/">斯科特·伊斯特伍德</a> / <a href="https://movie.douban.com/celebrity/1336036/">帕特里克·圣埃斯普利特</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                动作, 犯罪
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                美国
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                136分钟, 149分钟(加长版)
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2017-04-12(法国), 2017-04-14(美国), 2017-04-14(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="213551" href="https://movie.douban.com/trailer/213551/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/3a2e0df4691d0016.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '165065776',
            browserId = 'Y0HURAeydbU',
            criteria = '3:/subject/26260853/comments?status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/396eb1d527531d3d120efdac7539054851279955/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- sindar12b-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 362.406px;"><ul></ul></div></body></html>